<!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
        <h1>Chuck 1</h1>

<label for="addressSearch">주소 검색 : <input id="addressSearch" type="text"></label>
<input id="searchBtn" type="submit">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

var addressSearch = document.getElementById('addressSearch')
var searchBtn = document.getElementById('searchBtn')

searchBtn.addEventListener('click', function(event){
  console.log("주소검색 버튼 눌림") 
  console.log(addressSearch.value)
    axios.get('https://dapi.kakao.com/v2/local/search/keyword.json',
    { params: {
        query: addressSearch.value,
        category_group_code: 'FD6'
      },
    headers: {
      'Authorization': 'KakaoAK 1bdcfbeb6bb8e3bf27b8caf11c8e53b4'
    }
    }).then(function(res){
      console.log(res.data[0])
      }).catch()
    })

</script>
<hr>
<form action="" method="POST">
{% csrf_token %}
{{form}}
</form>

<hr>
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Facts</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="icofont-simple-smile"></i>
              <span data-toggle="counter-up">232</span>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="icofont-document-folder"></i>
              <span data-toggle="counter-up">521</span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-live-support"></i>
              <span data-toggle="counter-up">1,463</span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-users-alt-5"></i>
              <span data-toggle="counter-up">15</span>
              <p>Hard Workers</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->
